<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syxz.hbdroid">

    <!-- 华为角标 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.BadgeActivity" />
        <activity android:name=".activitys.activitystack.TwoActivity" />
        <activity android:name=".activitys.activitystack.ThirdActivity" />

        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.BadgeIntentService" />

        <activity android:name=".activitys.backgroundtask.JobScheduleActivity" />
        <activity android:name=".activitys.recyclerview.RecyclerviewMainActivity" />
        <activity android:name=".activitys.network.NewTypeMonitorNetworkActivity" />
        <activity android:name=".activitys.network.rxjava.Rxjava2RetrofitActivity" />
        <activity android:name=".activitys.viewpager.splash.SplashActivity" />
        <activity android:name=".activitys.animation.AnimationActivity1" />
        <activity android:name=".activitys.animation.AnimationActivity2" />
        <activity android:name=".activitys.clip.RecyclerViewClipActivity" />
        <activity android:name=".activitys.clip.ClipChildrenActivity" />
        <activity android:name=".activitys.statusbar.StatusbarActivity" />
        <activity android:name=".activitys.views.scroller.ScrollerUsageActivity" />
        <activity android:name=".activitys.recyclerview.BasicRecyclerView1Activity" />
        <activity android:name=".activitys.recyclerview.ItemDecorationRvActivity" />
        <activity android:name=".activitys.network.gson.GsonDemoActivity" />
        <activity android:name=".activitys.network.NetworkMainActivity" />
        <activity android:name=".activitys.views.draganddrop.DragViewActivity"></activity>
    </application>

</manifest>